body {

    background-color:#222226;
}

h1 {

    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    animation: mainbodyanimation 1s ease-in forwards;


}

h2 {
    
    color: rgb(49, 115, 60);
    text-align: center;
    padding-bottom: 30px;
    font-size: 90%;
    animation: mainbodyanimation 2s ease-in forwards;

}

p {
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top:140px;
    animation: mainbodyanimation 2s ease-in forwards;

}

img {
    text-align:center;
    margin-bottom: 100px;
    animation: mainbodyanimation 4s ease-in backwards;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.centered_text {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form{
    color: white;
    text-align: center;
    animation: mainbodyanimation 4s ease-in forwards;

}
button{
    margin-top: 10px;
}

.result-container {
    background-color: #3a3b3c; /* Set a background color for better visibility */
    padding: 10px; /* Add padding for better spacing */
    margin-top: 20px; /* Adjust margin for better separation from the form */
    border: 1px solid white; /* Add a border for better distinction */
    border-radius: 5px; /* Add border radius for rounded corners */
    color: #ffffff; /* Set text color */
}

#result {
    background-color:#222226;
    border: 1px solid #ddd;
    border-radius: 2px;
    white-space: pre-wrap;
    color: #ffffff
}

navbar-icon {
    width:30px;
    height:30px;
}

@keyframes mainbodyanimation {
    from {
        opacity:0%;

    }
    to {
        opacity: 100%;
    }
}
